.landing-page-container {
  //min-height: calc(100vh - 90px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: url("https://static.zara.net/photos///contents/mkt/spots/aw22-north-woman-beauty/subhome-xmedia-29//w/1920/IMAGE-landscape-fill-7b65b35d-5174-48c2-a44e-844693191e8e-default_0.jpg?ts=1658398700141");
  //background-image: url("https://static.zara.net/photos///contents/mkt/spots/ss22-studio-collection-maintenance/subhome-xmedia-worldwide//w/1920/IMAGE-ipadh-7b316d0e-098c-4232-b5b2-5ad3d94b4068-default_0.jpg?ts=1647452530040");
  // background-image: url(../assets/landing_cover.jpg);
  // background-size: cover;
  // background-attachment: fixed;
}
