.navbar-top-right-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  top: 22px;
  right: 25px;
  padding: 10px 28px;
  background-color: white;
  z-index: 1;
  //border-bottom: 1px solid #222;
  //border: 1px solid rgb(230, 230, 230);
  border-radius: 30px;
  //box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);

  // .navbar-top-right {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  .sign-in-link {
    font-size: 14px;
    //margin: 0 35px 0 8px;
    cursor: pointer;
  }

  .fa-heart {
    font-size: 19px;
  }

}
