.navbar-side-container {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  // Edge 15 and earlier Versions also don't support sticky. Alternative Solution?
  top: 0;
  height: 100vh;
  min-width: 320px;
  padding: 0 60px 40px 40px;
  border-right: 1px solid rgb(232, 232, 232);
  //box-shadow: 2px 0 20px rgba(0, 0, 0, 0.06);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;

  .navbar-logo-container {
    font-family: 'Stardom', sans-serif;
    //font-family: "Bebas Neue", sans-serif;
    //font-family: "Excon", sans-serif;
    //font-family: "Italiana";
    font-size: 120px;
    width: 100%;
    margin-bottom: 60px;
    //height: 120px;
  }

  .navbar-gender-selection {
    .navbar-gender {
      display: inline-block;
      margin: 40px 25px 40px 0;
      text-transform: uppercase;
    }
    .is-active {
      font-weight: 800;
    }
  }

  .categories-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; // otherwise the links will span the full width and the border would be not just under the word
  }
}

// .navbar-main-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0 40px;
//   border-bottom: 1px solid rgb(230, 230, 230);

//   .nav-left-side {
//     display: flex;
//     align-items: center;

//     .nav-logo {
//       display: inline-block;
//       font-family: 'Stardom', sans-serif;
//       //font-family: "Bebas Neue", sans-serif;
//       font-family: "Excon", sans-serif;
//       color: #111;
//       font-size: 28px;
//       font-weight: 800;
//       margin-right: 50px;
//       //padding-top: 2px;
//     }

//     .nav-link {
//       position: relative;
//       color: #111;
//       display: inline-block;
//       padding: 40px 60px;
//       font-size: 15px;
//       font-weight: 300;
//       border-left: 1px solid rgb(230, 230, 230);

//       &:hover {
//         box-shadow: 0 -1px 0 #222 inset;
//         //background-color: #eee;
//       }
//     }

//     .men {
//       border-right: 1px solid rgb(230, 230, 230);
//     }

//     .is-active {
//       // background-color: #111;
//       // color: white;
//       box-shadow: 0 -1px 0 #222 inset;

//       &:hover {
//         box-shadow: 0;
//         //background-color: #222;
//       }

//       &::after {
//         //content: "";
//         position: absolute;
//         display: block;
//         bottom: -2px;
//         left: 0;
//         height: 4px;
//         width: calc(100%);
//         background-color: white;
//         z-index: 10;
//       }
//     }
//   }
