.profile-icon {
  cursor: pointer;
  font-size: 19px;
  font-weight: 600;
  color: #222;
  //margin-right: 30px;

  // .sign-in-text {
  //     font-size: 15px;
  //     font-weight: 400;
  //     margin-left: 8px;
  // }
}
