.shopping-cart-item-container {
    display: flex;
    margin: 10px 0;

    .shopping-cart-item-img-container {
        height: 70px;
        overflow: hidden;
    }

    img {
        width: 60px;
    }

    .shopping-cart-item-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
    }
}