* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #222;
  --border-light: 1px solid #eee;
  --font-size: 1px;
}

body {
  margin: 0;
  //padding: 1.4vw 2vw;
  // font-family: "Ranade", sans-serif;
  // font-family: "Stardom", sans-serif;
  // font-family: "Bebas Neue", sans-serif;
  // font-family: "Excon", sans-serif;
  // font-family: "Boska", sans-serif;
  // font-family: "Italiana";
  // font-family: 'Outfit', sans-serif;
  // font-family: 'Chillax', sans-serif;
  font-family: "Satoshi", sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #111;
}

@font-face {
  font-family: Italiana;
  src: url(./assets/Italiana-Regular.ttf);
}
