* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ranade", sans-serif;
  font-family: 'Satoshi', sans-serif;
  font-size: 15px;
  padding: 1.8vw 2vw;
}

a {
  text-decoration: none;
  color: #111;
  //color: white;
}

@font-face {
  font-family: Italiana;
  src: url(./assets/Italiana-Regular.ttf);
}